<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />

    <title>Email Verification Fail</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
      function resend() {
        let params = new URL(document.location).searchParams;
        let scheme = params.get("scheme");

        newURL = `https://api.kitchen-savvy.com/api/auth/resend-email-verification?scheme=${scheme}`;
        fetch(newURL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        });
      }
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
    </style>
    <style>
      * {
        font-family: "Poppins";
      }
    
             img{
              width: 10%;
            }
            .wrapper{
              margin: auto;
              padding: 2em;
              height: 80%;
            }
         
      .logo-wrap {
        text-align: center;
        padding: 2em;

      }
           
      .container {
        background-color: #fff;
        position: relative;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 415px;
        height: 532px;
        border: 1px solid #1d1d2929;
        border-radius: 30px;
      }
   
      .animation{
        margin-top: 2em;
      }

      .text-wrap {
        text-align: center;
      }

      .text-welcome {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 10px;
        letter-spacing: 0.21px;
        line-height: 28px;
      }
      .text-body {
        margin: auto;
        width: 80%;
        line-height: 20px;
        letter-spacing: 0.13px;
        color: #1d1d2960;
        font-size: 14px;
        font-weight: medium;
        margin-bottom: 5em;
      }
      .btn {
        font-size: 16px;
        font-weight: medium;
        color: #fff;
        padding: 0.5em;
        border-radius: 30px;
        background-color: #a0030a;
        width: 302px;
        height: 47px;
        border: none;
      text-decoration: none;
        cursor: pointer;
      }
      @media screen and (max-width: 1000px) {
        img{
              width: 50%;
            }
        .container {
        width: 350px;
        height: 480px;
        }
      }
    </style>

  </head>
  <body>
         <div class="wrapper">
        <div class="logo-wrap">
          <img                 src="https://i.postimg.cc/JzbBnQbB/logo.png"
></img>
        </div>
    <div class="container">
      <div class="contain">
        <div class="animation">
          <lottie-player
            src="/public/error.json"
            background="transparent"
            speed="1"
            style="width: 260px; height: 188px; margin: auto"
            autoplay
          >
          </lottie-player>
        </div>
        <div class="text-wrap">
          <p class="text-welcome">Looks like we hit on <br />an Error here!</p>
          <p class="text-body">
            The link is already expired. 60 minutes are exceeded.
          </p>
          <div class="">
            <button type="button" class="btn" onclick="resend()">
              Try again
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
